body {
  margin : 0;
}

/*****************************************TOP CONTAINER*********************************************/
.top-container {
  width: 100%;
  background-color: #e0ebe8;
  padding-top: 10vh
}

.right-cloud {
  width: 15%;
  margin-left: 70%;
}

.Name {
  display: block;
  font-family: 'Sacramento', cursive;
  font-size: 10rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
  line-height: 2;
  color: #4ab19a;
}

.WebDeveloper {
  display: block;
  font-family: 'Mali', cursive;
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 0;
  text-align: center;
  color: #6eb69b;
}

.left-cloud {
  width: 15%;
  margin-left: 15%;
}

.mountain {
  width: 50%;
  display: block;
  margin: 0 auto 0 auto;
}

/*************************************MIDDLE CONTAINER*********************************/

/*********************************ABOUT CONTAINER************************************/
.about-container {
  width: 100%;
  display: block;
}

.dude {
  display: block;
  width: 10%;
  margin: 10vh auto 5vh auto;
}

.hi {
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 4vh;
  color: #47b29a;
}

.about-para-envelope {
  display: block;
  padding: 0 30% 0 30%;
}

.about-para {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-family: 'Gulzar', serif;
  font-size: 2.7vh;
  margin: 0;
  line-height: 1.8;
  color: #5e5e5e;
}

/**********************************SKILL CONTAINER******************************/
.skill-container {
  width: 100%;
  display: block;
  text-align: center;
}

.heading {
  display: block;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 5vh;
  color: #318d78;
  margin-bottom: 7vh;
}

.skill-data{
  font-family: 'Gulzar', serif;
  font-size: 2.7vh;
  color: #5e5e5e;
}

.star-img {
  height: 2.5vh;
}


/*********************************EDUCATION CONTAINER*************************/
.education-container {
  width: 100%;
  display: block;
  margin-bottom: 10vh;
}

.college-envelope {
  display:block;
  width: 100%;
  margin-top: 5%;
}

.college-img {
  width: 80%;
}

.college-info {
  display: block;
}

.big {
  display: inline;
  font-family: 'Gulzar', serif;
  font-size: 3vh;
  line-height: 1.8;
  color: #5e5e5e;
  font-weight: bold;
}

.medium {
  display: inline;
  font-family: 'Gulzar', serif;
  font-size: 2.7vh;
  line-height: 1.8;
  color: #5e5e5e;
}

.small {
  display: inline;
  font-family: 'Gulzar', serif;
  font-size: 2.4vh;
  line-height: 1.8;
  color: #7b7b7b;
  font-weight: lighter;
  font-style: italic;
}

.school-img{
  width: 100%;
  margin: auto;
}

.education-row {
  margin-top: 5vh;
  margin-bottom: 10vh;
}


/**********************************BOTTOM CONTAINER**********************************/
.bottom-container {
  width: 100%;
  display: block;
  height: 35vh;
  background-color: #c5ded7;
}

.contact-me {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 5vh;
  color: #318d78;
  position: relative;
  top: 1em;
}

.links {
  width: 100%;
  text-align: center;
  margin-top: 12vh;
}

.contacts {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #47b29a;
  font-size: 2.5vh;
  font-weight: bold;
  display: inline;
  top: 3em;
  text-decoration: underline;
  margin: 0 5%;
}

/********************************MISCELLANEOUS***************************************/
.rule {
  display: block;
  border-top: dotted;
  width: 5%;
  border-width: 0.5vh;
  margin: 8vh auto 8vh auto;
  border-color: #5e5e5e;
}


@media (max-width: 1068px){
  .right-cloud {
    width: 25%;
    margin-left: 65%;
  }

  .Name {
    font-size: 7rem;
  }

  .WebDeveloper {
    font-size: 1.5rem;
  }

  .left-cloud {
    width: 25%;
    margin-left: 10%;
  }

  .mountain {
    width: 85%;
  }

  .about-para-envelope{
    padding: 0 5% 0 5%;
  }
}

@media (max-width: 1400px) and (min-width: 1069px){
  .right-cloud {
    width: 20%;
    margin-left: 70%;
  }

  .Name {
    font-size: 8.5rem;
  }

  .WebDeveloper {
    font-size: 2rem;
  }

  .left-cloud {
    width: 20%;
    margin-left: 10%;
  }

  .mountain {
    width: 65%;
  }

  .about-para-envelope{
    padding: 0 20% 0 20%;
  }
}
